a[title='School'] {
    background-color: #ffb441;
}
a[title='Hospital'] {
    background-color: #2ecc71;
}
a[title='Subway'] {
    background-color: #782b90;
}
a[title='Toilet'] {
    background-color: #f6063e;
}
a[title='Traffic Signal'] {
    background-color: #ccc2c0;
}
a[title='Park'] {
    background-color: #004b47;
}
a[title='Library'] {
    background-color: #f9e500;
}
a[title='Lake'] {
    background-color: #3498db;
}
a[title='Corporation Office'] {
    background-color: #9a6352;
}

#comment{
resize: none;
    border-radius: 5px;
    width:125px;
}


.complaints {
    background-color: red;
    padding: 4px;
    padding-top: 0px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}