a[title='School'] {
    background-color: #ffb441;
}
a[title='Hospital'] {
    background-color: #2ecc71;
}
a[title='Subway'] {
    background-color: #782b90;
}
a[title='Toilet'] {
    background-color: #f6063e;
}
a[title='Traffic Signal'] {
    background-color: #ccc2c0;
}
a[title='Park'] {
    background-color: #004b47;
}
a[title='Library'] {
    background-color: #f9e500;
}
a[title='Lake'] {
    background-color: #3498db;
}
a[title='Corporation Office'] {
    background-color: #9a6352;
}

#comment{
resize: none;
    border-radius: 5px;
    width:125px;
}

.comments{
    align-content: center;
}


.school-complaints {
    background-color: #ffb441;
    padding: 8px;
    padding-top: 0px;
    z-index: 1000 !important;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.hospital-complaints {
    background-color: #2ecc71;
    padding: 8px;
    padding-top: 0px;
    z-index: 1000 !important;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.subway-complaints {
    background-color: #782b90;
    padding: 8px;
    padding-top: 0px;
    z-index: 1000 !important;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.toilet-complaints {
    background-color: #f6063e;
    padding: 8px;
    padding-top: 0px;
    z-index: 1000 !important;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.signal-complaints {
    background-color: #ccc2c0;
    padding: 8px;
    padding-top: 0px;
    z-index: 1000 !important;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.park-complaints {
    background-color: #004b47;
    padding: 8px;
    padding-top: 0px;
    z-index: 1000 !important;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.library-complaints {
    background-color: #f9e500;
    padding: 8px;
    padding-top: 0px;
    z-index: 1000 !important;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.lake-complaints {
    background-color: #3498db;
    padding: 8px;
    padding-top: 0px;
    z-index: 1000 !important;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.office-complaints {
    background-color: #9a6352;
    padding: 8px;
    padding-top: 0px;
    z-index: 1000 !important;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}